.bash_history
.bash_logout
.bashrc
.cache
.cargo
.config
.gem
.gitconfig
.landscape
.lesshst
.local
.motd_shown
.oh-my-zsh
.profile
.python_history
.rbenv
.rustup
.selected_editor
.shell.pre-oh-my-zsh
.ssh
.sudo_as_admin_successful
.viminfo
.vscode-server
.wget-hsts
.zcompdump*
.zsh_history
downloads
workspace
.dbus
.subversion
.docker
.dotnet
